$footer: whitesmoke
  
@media (min-width:1022px)
  footer
    padding: 4em 0
    background-color: $footer
    border: 5px solid white
  
    .logofoot
     display: flex
     align-items: center
  
     
    .menu
      display: flex
      justify-content: center
      border: 1px solid white
      a
        color: #4f4f4f
        font-size: 0.8em
        padding: 1em
    p
      color: #4f4f4f
      font-size: 0.8em
      margin: 0 10px

  .flexbox
    display: flex
    justify-content: center

    a 
      color: #4f4f4f


@media (max-width:1022px)
  footer
    padding: 4em 0
    background-color: $footer
    border: 5px solid white
          
    .logofoot
      display: flex
      align-items: center
      justify-content: center

    img 
      margin: 5px 5px 
    
    .menu
      display: flex
      flex-direction: column
      border: 1px solid white
      justify-content: center
      margin: 0 5px
      a
        color: #4f4f4f
        font-size: 0.9em
        padding: 0.5em
        text-align: center
        

    p 
      color: #4f4f4f
      font-size: 1em
      margin-left: 20px
  
  .flexbox
    display: flex
    justify-content: center

    a 
      color: #4f4f4f