
    
.myslide
    background-color: #006691
    background-blend-mode: saturation
    

.slider_description 
    color: whitesmoke
    padding-bottom: 20px

.slider_title
    font-size: 1.5em

@media (min-width:1024px)
    .myslide
        min-height: 400px
        .button 
            position: absolute
            bottom: 30px   
  