
    
.myslide
    background-color: whitesmoke
    background-blend-mode: saturation
    

.slider_description 
   	color: #4f4f4f
    padding: 10px 0
    border-top: 1px solid white
    margin: 10px 0
    min-height: 13vw


.slider_title
    padding: 2em 0
    font-size: 1.5em

@media (min-width:1024px)
    .myslide
        min-height: 400px
        .button 
            position: absolute
            bottom: 30px   

@media (max-width: 1024px)
    .myslide
        height: 100%  