@import "~bulma/sass/utilities/initial-variables"
@import "~react-alice-carousel/src/alice-carousel.scss"


// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

.logoicon
  overflow: visible

.alice-carousel__prev-btn-item, 
.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item:hover, 
.alice-carousel__next-btn-item:hover, 
  border: 0

@media (max-width: 986px)
  .navbar
    background: transparent !important
    .container 
      height: 100%
      padding: 20px

  .navbar.is-fixed-top
    .navbar-menu
      height: 80%
      margin-top: 5px
      transition: 0.5s ease-in
      transform: translateX(800px)

    .navbar-menu.is-active
      transform: none
      transition: 0.5s ease-in  
    

  .navbar-start
    height: 80% 
    display: flex
    flex-direction: column
    justify-content: space-evenly
    position: fixed
    background: white
    width: 100%
    margin-top: -8px
    transform: translateX(800px)
    transition: 05s ease-in

  .navbar-start.is-active
    height: 80% 
    display: flex
    flex-direction: column
    justify-content: space-evenly
    position: fixed
    background: white
    width: 100%
    margin-top: -8px
    transition: 0.5s ease-in
    transform: none

@media (min-width:986px)
  .navbar
    background: white
  .alice-carousel__prev-btn-item
    margin-left: -30px
  .alice-carousel__next-btn-item
    margin-right: -30px


.alice-carousel 
   padding: 15px 


.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.myhero
   
   background: url('../img/background.jpg')
   background-size: cover
   background-color: #0188b5

.mytitle
  padding-top: 2em 
  font-size: 5em
  color: whitesmoke

@media (min-width: 986px) 

  .biglogo 
    
    
    font-family: 'Roboto', sans-serif

    .idea
      font-size: 6.4em 
      color: whitesmoke
      font-weight: bold
      

    .catchphrase 
      font-size: 2em
      color: white

    .fund 
      font-size: 1.4em
      color: whitesmoke
          









@import "~bulma"